body {
  background: #eff1f3;
  color: #223843;
  margin-top: 7rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #d77a61;
    text-align: center;
}

.buttonMain {
    background-color: #d77a61;
    border: none;
    border-radius: 3rem;
    color: white;
    padding: 1rem 1rem;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
}

.li {
    color: #223843;
}

.instrukcje {
    margin-left: 150px;
}


.buttonHolder {
    text-align: center;
}

.bg-steel {
  background-color: #223843;
}

.site-header .navbar-nav .nav-link {
  color: #dbd3d8;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.audio-container {
    background: #ffffff;
    border-radius:100px;
}

.audio-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    position: relative;
}

.player audio {
    width: 330px;
    padding: 10px;
    background: #ffffff;
}

.metadata {
    float: left;
    margin-left: 40px;
}

.coverPhoto {
    float: left;
}

.coverPhoto img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #d77a61;
}

.metadata ul {
    list-style: none;
    padding-left: 5px;
    margin-top: 15%;
    font-size: 15px;
    font-family: sans-serif;
}

.metadata ul li b{
    color: #d77a61;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.ocena {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.ocena h5 {
    float: right;

}


.buttonGrade {
    float: right;
    background-color: #d77a61;
    border: none;
    border-radius: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-left: 0.8rem;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
}
